.food_suggestion_container {
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    font-family: "Source Sans 3", sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2.2em;
  }
  
  .preferences {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  
  .preference_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
  }
  
  .preference_group p {
    margin-bottom: 10px;
    /* font-weight: bold; */
    font-weight: 400;
    color: #656363;
    font-size: 1.2rem;
  }
  
  .button_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .emoji_button {
    width: 45px; /* Adjust size as needed */
    height: 45px; /* Adjust size as needed */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .emoji_button:hover {
    transform: scale(1.2); /* Enlarge the emoji on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  }
  
  .emoji_button:active {
    transform: scale(1.1); /* Slightly reduce size on click */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow on click */
  }
  
  
  .button_group button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--logo-color);
    color: white;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .button_group button:hover{
    background-color: #30bfbfc0;
  }

  .button_group button.active {
    border: 2px solid black;
  }

  .preference_group input{
    outline: none;
    padding: 10px 15px;
    width: 400px;
    border-radius: 10px;
  }

  .emoji_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .emoji_group_text{
    font-size: 0.9rem;
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 55px;
    height: 100px;
    position: relative;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0 0 20px;
    border-radius: 50px 50px 10px 10px;
    padding: 1px;
    background: linear-gradient(#ff4d80 33%,#ffa104 0 66%, #01ddc7 0) content-box;
    --c:radial-gradient(farthest-side,#000 94%,#0000);
    -webkit-mask:
      linear-gradient(#0000 0 0),
      var(--c) -10px -10px,
      var(--c)  15px -14px,
      var(--c)   9px -6px,
      var(--c) -12px  9px,
      var(--c)  14px  9px,
      var(--c)  23px 27px,
      var(--c)  -8px 35px,
      var(--c)   50% 50%,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0),
      var(--c) -10px -10px,
      var(--c)  15px -14px,
      var(--c)   9px -6px,
      var(--c) -12px  9px,
      var(--c)  14px  9px,
      var(--c)  23px 27px,
      var(--c)  -8px 35px,
      var(--c)   50% 50%,
      linear-gradient(#0000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude,add,add,add,add,add,add,add,add;
    -webkit-mask-repeat: no-repeat;
    animation: l3 3s infinite ;
  }
  .loader:before {
    content: "";
    position: absolute;
    inset: 50% calc(50% - 4px) 0;
    background: #e0a267;
    border-radius: 50px;
  }
  @keyframes l3 {
   0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0}
   10%  {-webkit-mask-size: auto,25px 25px,0 0,0 0,0 0,0 0,0 0,0 0,0 0}
   20%  {-webkit-mask-size: auto,25px 25px,25px 25px,0 0,0 0,0 0,0 0,0 0,0 0}
   30%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,0 0,0 0,0 0,0 0,0 0}
   40%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,0 0,0 0,0 0,0 0}
   50%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,0 0,0 0,0 0}
   60%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,0 0,0 0}
   70%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,25px 25px,0 0}
   80%,
   100% {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,25px 25px,200% 200%}
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  
  
.foodResult{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.foodResult_title{
    font-size: 2rem;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.foodResult_body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
  
  .foodResult_list {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

/* CSS */
.button_outline {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_outline:not(:disabled):hover {
  transform: scale(1.05);
}

.button_outline:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button_outline:focus {
  outline: 0 solid transparent;
}

.button_outline:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button_outline:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button_outline:focus:not(:focus-visible):before {
  border-width: 0;
}

.button_outline:not(:disabled):active {
  transform: translateY(.125rem);
}

.result_card {
    width: 45%;
    /* height: 275px; */
    background: white;
    margin: 20px auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s;
    border-radius: 5px;
}

.description {
      
    padding: 30px;
    /* float: left; */
    width: 100%;
    /* border-left: 2px solid #efefef; */
    
    h1 {
      color: #515151;
      font-weight: 300;
      margin: 0 10px;
      /* font-size: 30px; */
      font-weight: 300;
      font-size: 1.05rem;
    }
  
    h2 {
     color: #515151;
     margin: 0;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 1.3rem;
     margin-bottom: 5px;
    }
   
    h4 { 
      margin: 0;
      color: #727272;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px
    }
   
    p { 
      font-size: 14px; 
      line-height: 20px;
      color: #727272;
      padding: 10px 0;
      margin: 0;
   }
   
    button {
      outline: 0;
      border: 0;
      background: none;
      border: 1px solid black;
      padding: 8px 0px;
      color: #515151;
      text-transform: uppercase;
      width: 125px;
      font-family: inherit;
      margin-right: 5px;
      transition: all 0.3s ease;
      font-weight: 500;
      
      &:hover {
        
        background: darken(white, 2%);
        border: 1px solid #6060607e;
        color: #6060607e;
        border: 1px solid #30BFBF;
        color: #30BFBF;
        cursor: pointer;
        
      }

    }
   
 }

.button_outline_active{
  color: white;
  background-color: var(--logo-color);
}

 
 @media (max-width: 769px) {
    .foodResult_body{
        display: block;
    }
    .result_card{
        width: 100%;
        margin-bottom: 30px;
    }

    .food_suggestion_container{
        width: 100%;
    }

    .preference_group input{
      width: 280px;
    }
 }
 


  