.left_menu {
    position: fixed;
    margin-top: 56px;
    /* left: 6px; */
    padding: 10px 0;
    height: 100vh;
    width: 20vw;
    overflow-y: auto;
    color: var(--color-primary);
    background: white !important;
    border-right: 1px solid #ccc;
}

.left_link {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
    color: rgb(37, 36, 36);
    gap: 15px;
    transition: transform 0.3s ease;
    /* Add a transition for smooth animation */
}

.left_link span {
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.left_link:hover {
    color: black;
    transform: scale(1.02);
    /* Adjust the scale factor as needed */
}

.link_active {
    color: #30BFBF !important;
}