.promotion-filter {
    display: flex;
    align-items: center;
}

.filter_container{
    width: 100%;
    margin: 10px 30px;
}

@media (max-width: 769px) {
    .promotion-filter{
        display: block;
    }

    .filter_select{
        width: 80%;
        margin-bottom: 20px;
    }
}  