.promotion-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter_container{
    width: 100%;
    margin: 10px 30px;
}

/* @media (max-width: 480px){
    .fab_button{
        bottom: 70px!important;
    }
} */

@media (max-width: 769px) {
    .promotion-filter{
        display: block;
    }

    .filter_select{
        width: 80%;
        margin-bottom: 20px;
    }

    /* Ensure consistency in spacing between all elements */
    /* .promotion-filter .MuiFormControl-root {
        margin-bottom: 20px; 
    } */

    /* If you want to target individual items like the text field specifically */
    .promotion-filter .MuiTextField-root {
        margin-bottom: 20px;
    }
}  